# DataBase Final Project
Movie Recommendation System

### credits.csv
| Column name | Descrobtion |
|-----------| --------|
| movie_id | A unique identifier for each movie. |
| title | |
| cast | The name of lead and supporting actors. |
| crew | The name of Director, Editor, Composer, Writer etc. |

### movies.csv

| Column name | Describtion |
| ---------- | ----------- |
| budget | The budget in which the movie was made. |
| genre | The genre of the movie, Action, Comedy ,Thriller etc. |
| homepage | A link to the homepage of the movie. | 
| id | This is infact the movie_id as in the first dataset. |
| keywords | The keywords or tags related to the movie. |
| original_language | The language in which the movie was made. |
| original_title | The title of the movie before translation or adaptation. |
| overview | A brief description of the movie. |
| popularity | A numeric quantity specifying the movie popularity. |
| production_companies | The production house of the movie. |
| production_countries | The country in which it was produced. |
| release_date | The date on which it was released. |
| revenue | The worldwide revenue generated by the movie. |
| runtime | The running time of the movie in minutes. |
| status | "Released" or "Rumored". |
| tagline | Movie's tagline. |
| title | Title of the movie. |
| vote_average | average ratings the movie recieved. |
| vote_count | the count of votes recieved. |

## Three Major Steps

There are basically three types of recommender systems:-

* Demographic Filtering- They offer generalized recommendations to every user, based on movie popularity and/or genre. The System recommends the same movies to users with similar demographic features. Since each user is different , this approach is considered to be too simple. The basic idea behind this system is that movies that are more popular and critically acclaimed will have a higher probability of being liked by the average audience.


* Content Based Filtering- They suggest similar items based on a particular item. This system uses item metadata, such as genre, director, description, actors, etc. for movies, to make these recommendations. The general idea behind these recommender systems is that if a person liked a particular item, he or she will also like an item that is similar to it.


* Collaborative Filtering- This system matches persons with similar interests and provides recommendations based on this matching. Collaborative filters do not require item metadata like its content-based counterparts.

###### tags: `Editor` `B10615045 陳尚富` `B10615024 李韋宗 ` `B10615026 溫承勳`

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib as plt
from ast import literal_eval

###### tags: `Editor` `B10615024 李韋宗 `

In [2]:
os.getcwd()
Data_Credit = pd.read_csv("./tmdb-movie-metadata/tmdb_5000_credits.csv")
Data_Movie = pd.read_csv("./tmdb-movie-metadata/tmdb_5000_movies.csv")

In [3]:
Data_Credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
Data_Movie

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

## Merge Two Dataset 
Merge Data_Movie and Data_Credit.

In [5]:
Data_Credit.columns = ['id','tittle','cast','crew']
Data_Movie= Data_Movie.merge(Data_Credit,on='id')

In [6]:
Data_Movie.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,tittle,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## Demographic Filtering -
Before getting started with this -

* we need a metric to score or rate movie

* Calculate the score for every movie

* Sort the scores and recommend the best rated movie to the users.

We can use the average ratings of the movie as the score but using this won't be fair enough since a movie with 8.9 average rating and only 3 votes cannot be considered better than the movie with 7.8 as as average rating but 40 votes. So, I'll be using IMDB's weighted rating (wr) which is given as :-

$Weighted Rating(WR) = (v / (v+m) * R) + (m / (v+m) * C)$

where,

* v is the number of votes for the movie;

* m is the minimum votes required to be listed in the chart;

* R is the average rating of the movie;

* C is the mean vote across the whole report

We already have v(vote_count) and R (vote_average) and C can be calculated.

Demographic recommender provide a general chart of recommended movies to all the users.
They are not sensitive to the interests and tastes of a particular user.
This is when we move on to a more refined system- Content Basesd Filtering.

In [7]:
df2 = Data_Movie.copy()

In [8]:
# Mean voted for all movie
C = df2['vote_average'].mean()
C

6.092171559442016

In [9]:
# Must have more votes than at least 90% of the movies in the list.
m= df2['vote_count'].quantile(0.7)
m

581.0

In [10]:
# Filter out the movies that qualify for the chart
qualified_movies = df2.copy().loc[df2['vote_count'] >= m]
qualified_movies.shape

(1442, 23)

In [11]:
# Calculate the Weighted Rating

def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [12]:
qualified_movies['score'] = qualified_movies.apply(weighted_rating, axis=1)

In [13]:
#Sort movies based on score calculated above
qualified_movies = qualified_movies.sort_values('score', ascending=False)

#Print the top 10 movies
qualified_movies[['title', 'vote_count', 'vote_average', 'score']].head(10)

                         title  vote_count  vote_average     score
1881  The Shawshank Redemption        8205           8.5  8.340775
3337             The Godfather        5893           8.4  8.192887
662                 Fight Club        9413           8.3  8.171648
3232              Pulp Fiction        8428           8.3  8.157615
65             The Dark Knight       12002           8.2  8.102674
809               Forrest Gump        7927           8.2  8.056059
1818          Schindler's List        4329           8.3  8.038748
3865                  Whiplash        4254           8.3  8.034695
96                   Inception       13752           8.1  8.018611
1990   The Empire Strikes Back        5879           8.2  8.010426

In [14]:
qualified_movies['genres'] = qualified_movies['genres'].apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [15]:
qualified_movies['genres']

1881                          [Drama, Crime]
3337                          [Drama, Crime]
662                                  [Drama]
3232                       [Thriller, Crime]
65          [Drama, Action, Crime, Thriller]
                        ...
499                                 [Comedy]
303                          [Action, Crime]
3746                              [Thriller]
210                 [Action, Crime, Fantasy]
242     [Action, Adventure, Science Fiction]
Name: genres, Length: 1442, dtype: object

In [16]:
# split the genre od each movie too many rows
s = qualified_movies.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
gen_md = qualified_movies.drop('genres', axis=1).join(s)

In [17]:
gen_md

,budget,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,...,status,tagline,title,vote_average,vote_count,tittle,cast,crew,score,genre
0,237000000,http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.148013,Action
0,237000000,http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.148013,Adventure
0,237000000,http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.148013,Fantasy
0,237000000,http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.148013,Science Fiction
1,300000000,http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.807627,Adventure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4758,4000000,https://www.facebook.com/thesignalfilm,242095,"[{""id"": 2157, ""name"": ""hacker""}, {""id"": 4769, ...",en,The Signal,Three college students on a road trip across t...,27.662696,"[{""name"": ""Automatik Entertainment"", ""id"": 281...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,Released,R U Agitated?,The Signal,5.8,631,The Signal,"[{""cast_id"": 1, ""character"": ""Nic Eastman"", ""c...","[{""credit_id"": ""552b920bc3a36830d40027b7"", ""de...",5.940059,Science Fiction
4773,27000,http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,Released,Just because they serve you doesn't mean they ...,Clerks,7.4,755,Clerks,"[{""cast_id"": 7, ""character"": ""Dante Hicks"", ""c...","[{""credit_id"": ""52fe434ac3a36847f8049253"", ""de...",6.831251,Comedy
4796,7000,http://www.primermovie.com,14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,Released,What happens if it actually works?,Primer,6.9,658,Primer,"[{""cast_id"": 1, ""character"": ""Aaron"", ""credit_...","[{""credit_id"": ""52fe45e79251416c75066791"", ""de...",6.521188,Science Fiction
4796,7000,http://www.primermovie.com,14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,Released,What happens if it actually works?,Primer,6.9,658,Primer,"[{""cast_id"": 1, ""character"": ""Aaron"", ""credit_...","[{""credit_id"": ""52fe45e79251416c75066791"", ""de...",6.521188,Drama
4796,7000,http://www.primermovie.com,14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,Released,What happens if it actually works?,Primer,6.9,658,Primer,"[{""cast_id"": 1, ""character"": ""Aaron"", ""credit_...","[{""credit_id"": ""52fe45e79251416c75066791"", ""de...",6.521188,Thriller

In [18]:
def top_genre(genre, percentile=0.9):
    try:
        df = gen_md[gen_md['genre'] == genre]
        m = df['vote_count'].quantile(percentile)
        C = df['vote_average'].mean()

        q_movies = df.copy().loc[df['vote_count'] >= m]

        q_movies['score'] = q_movies.apply(weighted_rating, axis=1)
        q_movies = q_movies.sort_values('score', ascending=False).head(250)

        return q_movies[['title', 'vote_count', 'vote_average','score','genre']]
    except:
        print("No such genre")

In [19]:
top_genre('Crime')

,title,vote_count,vote_average,score,genre
1881,The Shawshank Redemption,8205,8.5,8.340775,Crime
3337,The Godfather,5893,8.4,8.192887,Crime
3232,Pulp Fiction,8428,8.3,8.157615,Crime
65,The Dark Knight,12002,8.2,8.102674,Crime
690,The Green Mile,4048,8.2,7.935440,Crime
1553,Se7en,5765,8.1,7.916176,Crime
2091,The Silence of the Lambs,4443,8.1,7.867805,Crime
298,The Wolf of Wall Street,6571,7.9,7.753139,Crime
351,The Departed,4339,7.9,7.686515,Crime
828,Kill Bill: Vol. 1,4949,7.7,7.531076,Crime
3,The Dark Knight Rises,9106,7.6,7.509565,Crime
883,Catch Me If You Can,3795,7.7,7.486529,Crime
684,The Hateful Eight,4274,7.6,7.419558,Crime
830,Kill Bill: Vol. 2,3948,7.6,7.406569,Crime
119,Batman Begins,7359,7.5,7.396984,Crime
2558,Drive,3725,7.4,7.223537,Crime
519,Now You See Me,5487,7.3,7.184353,Crime
388,Ocean's Eleven,3783,7.2,7.052510,Crime
1720,Kick-Ass,4645,7.1,6.987955,Crime
356,Sherlock Holmes,5766,7.0,6.916898,Crime
205,Sherlock Holmes: A Game of Shadows,3886,7.0,6.881923,Crime
1119,21 Jump Street,4074,6.7,6.624136,Crime
2,Spectre,4466,6.3,6.276075,Crime
72,Suicide Squad,7458,5.9,5.913889,Crime

In [20]:
top_genre('Action')

,title,vote_count,vote_average,score,genre
65,The Dark Knight,12002,8.2,8.102674,Action
96,Inception,13752,8.1,8.018611,Action
1990,The Empire Strikes Back,5879,8.2,8.010426,Action
329,The Lord of the Rings: The Return of the King,8064,8.1,7.965061,Action
2912,Star Wars,6624,8.1,7.938092,Action
262,The Lord of the Rings: The Fellowship of the Ring,8705,8.0,7.880632,Action
330,The Lord of the Rings: The Two Towers,7487,8.0,7.862612,Action
94,Guardians of the Galaxy,9742,7.9,7.798252,Action
634,The Matrix,8907,7.9,7.789297,Action
571,Inglourious Basterds,6430,7.9,7.750186,Action
274,Gladiator,5439,7.9,7.725524,Action
88,Big Hero 6,6135,7.8,7.652256,Action
828,Kill Bill: Vol. 1,4949,7.7,7.531076,Action
3,The Dark Knight Rises,9106,7.6,7.509565,Action
85,Captain America: The Winter Soldier,5764,7.6,7.461931,Action
119,Batman Begins,7359,7.5,7.396984,Action
199,Pirates of the Caribbean: The Curse of the Bla...,6985,7.5,7.391892,Action
46,X-Men: Days of Future Past,6032,7.5,7.376312,Action
16,The Avengers,11776,7.4,7.338509,Action
788,Deadpool,10995,7.4,7.334360,Action
68,Iron Man,8776,7.4,7.318794,Action
183,The Hunger Games: Catching Fire,6495,7.4,7.292616,Action
339,The Incredibles,5152,7.4,7.267461,Action
7,Avengers: Age of Ultron,6767,7.3,7.204498,Action
0,Avatar,11800,7.2,7.148013,Action
127,Mad Max: Fury Road,9427,7.2,7.135687,Action
216,Life of Pi,5797,7.2,7.099083,Action
26,Captain America: Civil War,7241,7.1,7.025141,Action
101,X-Men: First Class,5181,7.1,6.998378,Action
98,The Hobbit: An Unexpected Journey,8297,7.0,6.940589,Action
182,Ant-Man,5880,7.0,6.918364,Action
356,Sherlock Holmes,5766,7.0,6.916898,Action
1465,The Maze Runner,5371,7.0,6.911383,Action
12,Pirates of the Caribbean: Dead Man's Chest,5246,7.0,6.909482,Action
687,300,4997,7.0,6.905441,Action
29,Skyfall,7604,6.9,6.842658,Action
31,Iron Man 3,8806,6.8,6.756190,Action
159,Spider-Man,5265,6.8,6.729653,Action
45,World War Z,5560,6.7,6.642493,Action
169,Captain America: The First Avenger,7047,6.6,6.561320,Action
79,Iron Man 2,6849,6.6,6.560290,Action
129,Thor,6525,6.6,6.558479,Action
28,Jurassic World,8662,6.5,6.474365,Action
20,The Amazing Spider-Man,6586,6.5,6.466939,Action
14,Man of Steel,6359,6.5,6.465858,Action
17,Pirates of the Caribbean: On Stranger Tides,4948,6.4,6.367653,Action
1153,Lucy,5878,6.3,6.281305,Action
72,Suicide Squad,7458,5.9,5.913889,Action
9,Batman v Superman: Dawn of Justice,7004,5.7,5.730040,Action

## Show the trending movies
在執行一次，會有圖

In [21]:
pop= df2.sort_values('popularity', ascending=False)
import matplotlib.pyplot as plt
plt.figure(figsize=(12,4))

plt.barh(pop['title'].head(6),pop['popularity'].head(6), align='center', color='skyblue')
plt.gca().invert_yaxis()
plt.xlabel("Popularity")
plt.title("Popular Movies")

Text(0.5, 1.0, 'Popular Movies')

###### tags: `Editor` `B10615026 溫承勳`

## Content Based Filtering

In this recommender system the content of the movie (overview, cast, crew, keyword, tagline etc) is used to find its similarity with other movies. Then the movies that are most likely to be similar are recommended.

### Compute pairwise similarity scores based on "overview"
Use TF-IDF to get the keyword of the movie's "overview"

In [22]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df2['overview'] = df2['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df2['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

# 20978 different words in 4803 movies
# print(tfidf.get_feature_names())

(4803, 20978)

In [23]:
from sklearn.metrics.pairwise import linear_kernel

# Compute similarity score for all movies
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [24]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(df2.index, index=df2['title']).drop_duplicates()
indices

title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

## Get Recommandations
function that takes in a movie title as an input and outputs a list of the 10 most similar movies.

* Get the index of the movie given its title.

* Get the list of cosine similarity scores for that particular movie with all movies. Convert it into a list of tuples where the first element is its position and the second is the similarity score.

* Sort the aforementioned list of tuples based on the similarity scores; that is, the second element.

* Get the top 10 elements of this list. Ignore the first element as it refers to self (the movie most similar to a particular movie is the movie itself).

* Return the titles corresponding to the indices of the top elements.

In [25]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim):
    try:
        # Get the index of the movie that matches the title
        idx = indices[title]

        # Get the pairwsie similarity scores of all movies with that movie
        sim_scores = list(enumerate(cosine_sim[idx]))

        # Sort the movies based on the similarity scores
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

        # Get the scores of the 10 most similar movies
        sim_scores = sim_scores[1:11]

        # Get the movie indices
        movie_indices = [i[0] for i in sim_scores]
        
        # Return the top 10 most similar movies
#         return df2['title'].iloc[movie_indices]

        # Calculate the estimate score that user will give
        movies = df2.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'genres', 'id']]
        # Return the top 10 most similar movies        
        return movies.head(10)
    
    except:
        print("No such Movie Name in Dataset")

In [26]:
get_recommendations('The Dark Knight Rises')

,title,vote_count,vote_average,genres,id
65,The Dark Knight,12002,8.2,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",155
299,Batman Forever,1498,5.2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",414
428,Batman Returns,1673,6.6,"[{""id"": 28, ""name"": ""Action""}, {""id"": 14, ""nam...",364
1359,Batman,2096,7.0,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",268
3854,"Batman: The Dark Knight Returns, Part 2",419,7.9,"[{""id"": 28, ""name"": ""Action""}, {""id"": 16, ""nam...",142061
119,Batman Begins,7359,7.5,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",272
2507,Slow Burn,16,5.5,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 80, ""...",18777
9,Batman v Superman: Dawn of Justice,7004,5.7,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",209112
1181,JFK,502,7.5,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",820
210,Batman & Robin,1418,4.2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",415

In [27]:
get_recommendations('The Godfather')

,title,vote_count,vote_average,genres,id
2731,The Godfather: Part II,3338,8.3,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",240
1873,Blood Ties,171,6.0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",190955
867,The Godfather: Part III,1546,7.1,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",242
3727,Easy Money,63,6.5,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",29920
3623,Made,55,6.3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",15745
3125,Eulogy,34,6.4,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",16358
3896,Sinister,1573,6.7,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",82507
4506,The Maid's Room,4,4.8,"[{""id"": 53, ""name"": ""Thriller""}]",278348
3783,Joe,338,6.5,"[{""id"": 18, ""name"": ""Drama""}]",157847
2244,The Cold Light of Day,271,4.8,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",77948

###### tags: `Editor` `B10615045 陳尚富`

## Credits, Genres and Keywords Based Recommender¶

We are going to build a recommender based on the following metadata: the 3 top actors, the director, related genres and the movie plot keywords

In [28]:
# 從字串轉到對應的型態
features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(literal_eval)

df2[feature]ㄒ

0       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
1       [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3       [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
                              ...
4798    [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4799    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
4800    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4801                                                   []
4802                  [{'id': 99, 'name': 'Documentary'}]
Name: genres, Length: 4803, dtype: object

In [29]:
df2[['title','cast','crew','keywords','genres']].head(15)

,title,cast,crew,keywords,genres
0,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...","[{'id': 1463, 'name': 'culture clash'}, {'id':...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
1,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...","[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...","[{'id': 470, 'name': 'spy'}, {'id': 818, 'name...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
3,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...","[{'id': 849, 'name': 'dc comics'}, {'id': 853,...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
4,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
5,Spider-Man 3,"[{'cast_id': 30, 'character': 'Peter Parker / ...","[{'credit_id': '52fe4252c3a36847f80151a5', 'de...","[{'id': 851, 'name': 'dual identity'}, {'id': ...","[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na..."
6,Tangled,"[{'cast_id': 34, 'character': 'Flynn Rider (vo...","[{'credit_id': '52fe46db9251416c91062101', 'de...","[{'id': 1562, 'name': 'hostage'}, {'id': 2343,...","[{'id': 16, 'name': 'Animation'}, {'id': 10751..."
7,Avengers: Age of Ultron,"[{'cast_id': 76, 'character': 'Tony Stark / Ir...","[{'credit_id': '55d5f7d4c3a3683e7e0016eb', 'de...","[{'id': 8828, 'name': 'marvel comic'}, {'id': ...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
8,Harry Potter and the Half-Blood Prince,"[{'cast_id': 3, 'character': 'Harry Potter', '...","[{'credit_id': '52fe4273c3a36847f801fab1', 'de...","[{'id': 616, 'name': 'witch'}, {'id': 2343, 'n...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
9,Batman v Superman: Dawn of Justice,"[{'cast_id': 18, 'character': 'Bruce Wayne / B...","[{'credit_id': '553bf23692514135c8002886', 'de...","[{'id': 849, 'name': 'dc comics'}, {'id': 7002...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
10,Superman Returns,"[{'cast_id': 3, 'character': 'Superman / Clark...","[{'credit_id': '553bef6a9251416874003c8f', 'de...","[{'id': 83, 'name': 'saving the world'}, {'id'...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
11,Quantum of Solace,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe43b29251416c7501aa63', 'de...","[{'id': 627, 'name': 'killing'}, {'id': 1568, ...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '..."
12,Pirates of the Caribbean: Dead Man's Chest,"[{'cast_id': 37, 'character': 'Captain Jack Sp...","[{'credit_id': '52fe4211c3a36847f8001873', 'de...","[{'id': 616, 'name': 'witch'}, {'id': 663, 'na...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
13,The Lone Ranger,"[{'cast_id': 4, 'character': 'Tonto', 'credit_...","[{'credit_id': '52fe4928c3a36847f818be95', 'de...","[{'id': 1556, 'name': 'texas'}, {'id': 2673, '...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
14,Man of Steel,"[{'cast_id': 2, 'character': 'Clark Kent / Kal...","[{'credit_id': '52fe4799c3a36847f813e667', 'de...","[{'id': 83, 'name': 'saving the world'}, {'id'...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."

In [30]:
# Get the director's name from the crew feature. If director is not listed, return NaN
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [31]:
# Returns the list top 3 elements or entire list; whichever is more.
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [32]:
# Define new director, cast, genres and keywords features that are in a suitable form.
df2['director'] = df2['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(get_list)

In [33]:
# Print the new features of the first 3 films
df2[['title', 'cast', 'director', 'keywords', 'genres']].head(15)

,title,cast,director,keywords,genres
0,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron,"[culture clash, future, space war]","[Action, Adventure, Fantasy]"
1,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski,"[ocean, drug abuse, exotic island]","[Adventure, Fantasy, Action]"
2,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",Sam Mendes,"[spy, based on novel, secret agent]","[Action, Adventure, Crime]"
3,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",Christopher Nolan,"[dc comics, crime fighter, terrorist]","[Action, Crime, Drama]"
4,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton,"[based on novel, mars, medallion]","[Action, Adventure, Science Fiction]"
5,Spider-Man 3,"[Tobey Maguire, Kirsten Dunst, James Franco]",Sam Raimi,"[dual identity, amnesia, sandstorm]","[Fantasy, Action, Adventure]"
6,Tangled,"[Zachary Levi, Mandy Moore, Donna Murphy]",Byron Howard,"[hostage, magic, horse]","[Animation, Family]"
7,Avengers: Age of Ultron,"[Robert Downey Jr., Chris Hemsworth, Mark Ruff...",Joss Whedon,"[marvel comic, sequel, superhero]","[Action, Adventure, Science Fiction]"
8,Harry Potter and the Half-Blood Prince,"[Daniel Radcliffe, Rupert Grint, Emma Watson]",David Yates,"[witch, magic, broom]","[Adventure, Fantasy, Family]"
9,Batman v Superman: Dawn of Justice,"[Ben Affleck, Henry Cavill, Gal Gadot]",Zack Snyder,"[dc comics, vigilante, superhero]","[Action, Adventure, Fantasy]"
10,Superman Returns,"[Brandon Routh, Kevin Spacey, Kate Bosworth]",Bryan Singer,"[saving the world, dc comics, invulnerability]","[Adventure, Fantasy, Action]"
11,Quantum of Solace,"[Daniel Craig, Olga Kurylenko, Mathieu Amalric]",Marc Forster,"[killing, undercover, secret agent]","[Adventure, Action, Thriller]"
12,Pirates of the Caribbean: Dead Man's Chest,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski,"[witch, fortune teller, bondage]","[Adventure, Fantasy, Action]"
13,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner]",Gore Verbinski,"[texas, horse, survivor]","[Action, Adventure, Western]"
14,Man of Steel,"[Henry Cavill, Amy Adams, Michael Shannon]",Zack Snyder,"[saving the world, dc comics, superhero]","[Action, Adventure, Fantasy]"

### Note:
convert the names and keyword instances into lowercase and strip all the spaces between them. This is done so that our vectorizer doesn't count the Johnny of "Johnny Depp" and "Johnny Galecki" as the same.

In [34]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [35]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    df2[feature] = df2[feature].apply(clean_data)

In [36]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

df2['soup'] = df2.apply(create_soup, axis=1)

In [37]:
df2

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,status,tagline,title,vote_average,vote_count,tittle,cast,crew,director,soup
0,237000000,"[action, adventure, fantasy]",http://www.avatarmovie.com/,19995,"[cultureclash, future, spacewar]",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[samworthington, zoesaldana, sigourneyweaver]","[{'credit_id': '52fe48009251416c750aca23', 'de...",jamescameron,cultureclash future spacewar samworthington zo...
1,300000000,"[adventure, fantasy, action]",http://disney.go.com/disneypictures/pirates/,285,"[ocean, drugabuse, exoticisland]",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",goreverbinski,ocean drugabuse exoticisland johnnydepp orland...
2,245000000,"[action, adventure, crime]",http://www.sonypictures.com/movies/spectre/,206647,"[spy, basedonnovel, secretagent]",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[danielcraig, christophwaltz, léaseydoux]","[{'credit_id': '54805967c3a36829b5002c41', 'de...",sammendes,spy basedonnovel secretagent danielcraig chris...
3,250000000,"[action, crime, drama]",http://www.thedarkknightrises.com/,49026,"[dccomics, crimefighter, terrorist]",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",christophernolan,dccomics crimefighter terrorist christianbale ...
4,260000000,"[action, adventure, sciencefiction]",http://movies.disney.com/john-carter,49529,"[basedonnovel, mars, medallion]",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[taylorkitsch, lynncollins, samanthamorton]","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",andrewstanton,basedonnovel mars medallion taylorkitsch lynnc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[action, crime, thriller]",NaN,9367,"[unitedstates–mexicobarrier, legs, arms]",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,El Mariachi,"[carlosgallardo, jaimedehoyos, petermarquardt]","[{'credit_id': '52fe44eec3a36847f80b280b', 'de...",robertrodriguez,unitedstates–mexicobarrier legs arms carlosgal...
4799,9000,"[comedy, romance]",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,Newlyweds,"[edwardburns, kerrybishé, marshadietlein]","[{'credit_id': '52fe487dc3a368484e0fb013', 'de...",edwardburns,edwardburns kerrybishé marshadietlein edwardb...
4800,0,"[comedy, drama, romance]",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[date, loveatfirstsight, narration]",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,Released,NaN,"Signed, Sealed, Delivered",7.0,6,"Signed, Sealed, Delivered","[ericmabius, kristinbooth, crystallowe]","[{'credit_id': '52fe4df3c3a36847f8275ecf', 'de...",scottsmith,date loveatfirstsight narration ericmabius kri...
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,Shanghai Calling,"[danielhenney, elizacoupe, billpaxton]","[{'credit_id': '52fe4ad9c3a368484e16a36b', 'de...",danielhsia,danielhenney elizacoupe billpaxton danielhsia
4802,0,[documentary],NaN,25975,"[obsession, camcorder, crush]",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,Released,NaN,My Date with Drew,6.3,16,My Date with Drew,"[drewbarrymore, brianherzlinger, coreyfeldman]","[{'credit_id': '58ce021b9251415a390165d9', 'de...",brianherzlinger,obsession camcorder crush drewbarrymore brianh...

### Note:
The next steps are the same as what we did with our plot description based recommender. One important difference is that we use the CountVectorizer() instead of TF-IDF. This is because we do not want to down-weight the presence of an actor/director if he or she has acted or directed in relatively more movies. It doesn't make much intuitive sense.

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Create the count matrix
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df2['soup'])

# Compute the Cosine Similarity matrix based on the count_matrix
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)


# Reset index of our main DataFrame and construct reverse mapping as before
df2 = df2.reset_index()
indices = pd.Series(df2.index, index=df2['title'])

In [41]:
get_recommendations('The Dark Knight Rises', cosine_sim2)

,title,vote_count,vote_average,genres,id
65,The Dark Knight,12002,8.2,"[drama, action, crime]",155
119,Batman Begins,7359,7.5,"[action, crime, drama]",272
4638,Amidst the Devil's Wings,0,0.0,"[drama, action, crime]",378237
1196,The Prestige,4391,8.0,"[drama, mystery, thriller]",1124
3073,Romeo Is Bleeding,36,5.7,"[action, crime, drama]",2088
3326,Black November,4,6.4,"[drama, action, crime]",312113
1503,Takers,394,6.0,"[action, crime, drama]",22907
1986,Faster,568,6.1,"[crime, drama, action]",41283
303,Catwoman,808,4.2,"[action, crime]",314
747,Gangster Squad,1778,6.2,"[crime, drama, action]",82682

In [42]:
get_recommendations('The Godfather', cosine_sim2)

,title,vote_count,vote_average,genres,id
867,The Godfather: Part III,1546,7.1,"[crime, drama, thriller]",242
2731,The Godfather: Part II,3338,8.3,"[drama, crime]",240
4638,Amidst the Devil's Wings,0,0.0,"[drama, action, crime]",378237
2649,The Son of No One,92,4.8,"[drama, thriller, crime]",74536
1525,Apocalypse Now,2055,8.0,"[drama, war]",28
1018,The Cotton Club,68,6.6,"[music, drama, crime]",2148
1170,The Talented Mr. Ripley,767,7.0,"[thriller, crime, drama]",1213
1209,The Rainmaker,235,6.7,"[drama, crime, thriller]",11975
1394,Donnie Brasco,1147,7.4,"[crime, drama, thriller]",9366
1850,Scarface,2948,8.0,"[action, crime, drama]",111

## Collaborative Filtering

https://www.kaggle.com/rounakbanik/movie-recommender-systems/data

In [43]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

reader = Reader()
ratings = pd.read_csv('./tmdb-movie-metadata/user_ratings.csv')
ratings.tail(20)

        userId  movieId  rating   timestamp
99984      671     5010     2.0  1066793004
99985      671     5218     2.0  1065111990
99986      671     5299     3.0  1065112004
99987      671     5349     4.0  1065111863
99988      671     5377     4.0  1064245557
99989      671     5445     4.5  1064891627
99990      671     5464     3.0  1064891549
99991      671     5669     4.0  1063502711
99992      671     5816     4.0  1065111963
99993      671     5902     3.5  1064245507
99994      671     5952     5.0  1063502716
99995      671     5989     4.0  1064890625
99996      671     5991     4.5  1064245387
99997      671     5995     4.0  1066793014
99998      671     6212     2.5  1065149436
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

In [44]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [45]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'])

{'test_rmse': array([0.89689388, 0.89537273, 0.89095721, 0.90224242, 0.89909756]),
 'test_mae': array([0.69027148, 0.69164034, 0.68457371, 0.69446511, 0.69206091]),
 'fit_time': (4.204735040664673,
  4.299566984176636,
  4.693642854690552,
  4.55273699760437,
  4.350199222564697),
 'test_time': (0.20083379745483398,
  0.1253681182861328,
  0.1333301067352295,
  0.14849209785461426,
  0.11904311180114746)}

In [46]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [47]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [48]:
def show_user_preference(userID):
    temp_tit = []
    temp_gen = []
    for movID in ratings[ratings['userId'] == userID]['movieId'].values:
#         print(df2[['title']].values[movID])
#         print(df2[['genres']].values[movID])
        temp_tit.append(*df2[['title']].values[movID])
        temp_gen.append(*df2[['genres']].values[movID])

    user_preference = ratings[ratings['userId'] == userID].copy()
    user_preference['title'] = temp_tit
    user_preference['genre'] = temp_gen
    return user_preference

show_user_preference(1)

,userId,movieId,rating,timestamp,title,genre
0,1,31,2.5,1260759144,Iron Man 3,"[action, adventure, sciencefiction]"
1,1,1029,3.0,1260759179,Happily N'Ever After,"[animation, comedy, family]"
2,1,1061,3.0,1260759182,Love Actually,"[comedy, romance, drama]"
3,1,1129,2.0,1260759185,The Mothman Prophecies,"[drama, horror, mystery]"
4,1,1172,4.0,1260759205,Eight Below,"[adventure, drama, family]"
5,1,1263,2.0,1260759151,Big Miracle,"[adventure, drama, romance]"
6,1,1287,2.0,1260759187,A Monster in Paris,"[adventure, animation, comedy]"
7,1,1293,2.0,1260759148,Frankenweenie,"[animation, comedy, family]"
8,1,1339,3.5,1260759125,Blue Streak,"[action, comedy, crime]"
9,1,1343,2.0,1260759131,Never Say Never Again,"[adventure, action, thriller]"
10,1,1371,2.5,1260759135,Trainwreck,[comedy]
11,1,1405,1.0,1260759203,The Pianist,"[drama, war]"
12,1,1953,4.0,1260759191,Ironclad,"[romance, adventure, action]"
13,1,2105,4.0,1260759139,12 Years a Slave,"[drama, history]"
14,1,2150,3.0,1260759194,Eye for an Eye,"[drama, thriller]"
15,1,2193,2.0,1260759198,Secret in Their Eyes,"[crime, drama, mystery]"
16,1,2294,2.0,1260759108,Spirited Away,"[fantasy, adventure, animation]"
17,1,2455,2.5,1260759113,When Harry Met Sally...,"[comedy, romance, drama]"
18,1,2968,1.0,1260759200,In the Land of Women,"[romance, comedy, drama]"
19,1,3671,3.0,1260759117,Yoga Hosers,"[comedy, fantasy, horror]"

In [49]:
# predict the user ID 1 for rating score of the movie ID 31 is 2.379
svd.predict(1, 6782)

Prediction(uid=1, iid=6782, r_ui=None, est=2.945252184313155, details={'was_impossible': False})

## Hybrid Recommand
simple hybrid recommender that implemented in the "content based" and "collaborative filter based" engines.

In [50]:
def hybrid_recommand(userID, title):
    try:
        # Get the index of the movie that matches the title
        idx = indices[title]

        # Get the pairwsie similarity scores of all movies with that movie
        sim_scores = list(enumerate(cosine_sim[idx]))

        # Sort the movies based on the similarity scores
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

        # Get the scores of the 10 most similar movies
        sim_scores = sim_scores[1:11]

        # Get the movie indices
        movie_indices = [i[0] for i in sim_scores]

        # Calculate the estimate score that user will give
        movies = df2.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'genres', 'id']]
        movies['est'] = movies['id'].apply(lambda x: svd.predict(userID, x).est)
        movies = movies.sort_values('est', ascending=False)
        # Return the top 10 most similar movies        
        return movies.head(10)
        
    except:
        print("No such -> Movie Name / User ID in Dataset")

In [51]:
hybrid_recommand(2,'The Godather')

No such -> Movie Name / User ID in Dataset

In [52]:
hybrid_recommand(1,'The Godfather')

,title,vote_count,vote_average,genres,id,est
867,The Godfather: Part III,1546,7.1,"[crime, drama, thriller]",242,2.865840
1873,Blood Ties,171,6.0,"[thriller, crime, drama]",190955,2.718225
3727,Easy Money,63,6.5,"[drama, thriller, crime]",29920,2.718225
3623,Made,55,6.3,"[action, comedy, thriller]",15745,2.718225
3125,Eulogy,34,6.4,"[comedy, drama]",16358,2.718225
3896,Sinister,1573,6.7,"[horror, thriller, mystery]",82507,2.718225
4506,The Maid's Room,4,4.8,[thriller],278348,2.718225
3783,Joe,338,6.5,[drama],157847,2.718225
2244,The Cold Light of Day,271,4.8,"[action, thriller]",77948,2.718225
2731,The Godfather: Part II,3338,8.3,"[drama, crime]",240,2.683742

In [53]:
hybrid_recommand(3, 'The Godfather')

,title,vote_count,vote_average,genres,id,est
867,The Godfather: Part III,1546,7.1,"[crime, drama, thriller]",242,3.392211
1873,Blood Ties,171,6.0,"[thriller, crime, drama]",190955,3.343401
3727,Easy Money,63,6.5,"[drama, thriller, crime]",29920,3.343401
3623,Made,55,6.3,"[action, comedy, thriller]",15745,3.343401
3125,Eulogy,34,6.4,"[comedy, drama]",16358,3.343401
3896,Sinister,1573,6.7,"[horror, thriller, mystery]",82507,3.343401
4506,The Maid's Room,4,4.8,[thriller],278348,3.343401
3783,Joe,338,6.5,[drama],157847,3.343401
2244,The Cold Light of Day,271,4.8,"[action, thriller]",77948,3.343401
2731,The Godfather: Part II,3338,8.3,"[drama, crime]",240,3.149742

In [54]:
hybrid_recommand(1, 'Avatar')

,title,vote_count,vote_average,genres,id,est
3604,Apollo 18,356,5.0,"[horror, thriller, sciencefiction]",50357,2.718225
2130,The American,481,5.8,"[crime, drama, thriller]",27579,2.718225
1341,The Inhabited Island,23,5.3,"[action, fantasy, sciencefiction]",16911,2.718225
529,Tears of the Sun,573,6.4,"[action, drama, war]",9567,2.718225
1610,Hanna,1263,6.5,"[action, thriller, adventure]",50456,2.718225
311,The Adventures of Pluto Nash,142,4.4,"[action, comedy, sciencefiction]",11692,2.718225
847,Semi-Pro,251,5.4,[comedy],13260,2.718225
775,Supernova,109,4.9,"[horror, sciencefiction, thriller]",10384,2.718225
2628,Blood and Chocolate,87,5.4,"[drama, fantasy, horror]",10075,2.718225
634,The Matrix,8907,7.9,"[action, sciencefiction]",603,2.685393